@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: #c2d2e5;
  --foreground: #292e52;

  --gradient-background:linear-gradient(to bottom, #1c1e38, #23264a);
}
.backg-colors {
  background-image: var(--gradient-background) 1;
}

[data-theme='dark'] {
  --background: #1d213d;
  --foreground: #c2d2e5;
}


.Welcome-text {
  color:#7c82ae;
  font-weight: 700;
}


.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  display: flex;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;

}
